@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  border: none;
}
body {
  @apply box-border max-w-[1440px] font-normal w-full justify-center items-start mx-auto md:px-[30px] px-5 bg-white dark:bg-dark text-[#667085] dark:text-[#C0C5D0];
}

.icon-instance-node {
  height: 24px !important;
  min-width: 24px !important;
  position: relative !important;
}

.text-primary {
  @apply text-[#667085] dark:text-[#C0C5D0];
}
@layer utilities {
  .card-container :first-child {
    @apply col-span-2 row-span-2;
  }
  .card-container :last-child {
    @apply col-span-4 row-span-2;
  }
  .card-container :nth-child(2),
  .card-container :nth-child(3) {
    @apply col-span-2 row-span-1;
  }
  .card-container > div:nth-child(2) h4,
  .card-container > div:nth-child(3) h4 {
    @apply !text-lg;
  }

  .card-container > div:nth-child(2) svg,
  .card-container > div:nth-child(3) svg {
    @apply hidden;
  }
}
