@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  border: none;
}
body {
  @apply box-border max-w-[1440px] font-normal w-full justify-center items-start mx-auto md:px-[30px] px-5 bg-white dark:bg-dark text-[#667085] dark:text-[#C0C5D0];
}

.icon-instance-node {
  height: 24px !important;
  min-width: 24px !important;
  position: relative !important;
}

.text-primary {
  @apply text-[#667085] dark:text-[#C0C5D0];
}

.text-primary:hover {
  @apply text-[#8a95ac] dark:text-[#d5d9e1];
}
/* @media screen and (min-width: 1200px) {
  h1 {
    font-size: min(max(243px, 15vw), 243px);
  }
} */
