@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-container :first-child {
    @apply lg:col-span-2 lg:row-span-2 col-span-3 row-span-1;
  }
  .card-container :last-child {
    @apply lg:col-span-4 lg:row-span-2 col-span-3 row-span-1;
  }
  .card-container :nth-child(2),
  .card-container :nth-child(3) {
    @apply lg:col-span-2 lg:row-span-1 col-span-3 row-span-1;
  }
  .card-container > div:nth-child(2) h4,
  .card-container > div:nth-child(3) h4 {
    @apply !text-lg;
  }
  .card-container > div:nth-child(2) svg,
  .card-container > div:nth-child(3) svg {
    @apply hidden;
  }
  .card-container .card:last-child {
    @apply lg:flex-row;
  }
  .card-container .card:nth-child(2),
  .card-container .card:nth-child(3) {
    @apply sm:flex-row;
  }
}

html {
  font-size: 100%;
  border: none;
}
body {
  @apply box-border max-w-[1440px] font-normal w-full justify-center items-start mx-auto md:px-[30px] px-5 bg-white dark:bg-dark text-[#667085] dark:text-[#C0C5D0];
}

.icon-instance-node {
  height: 24px !important;
  min-width: 24px !important;
  position: relative !important;
}

.bg-violet {
  @apply bg-[#F9F5FF];
}
.text-violet {
  @apply text-[#6941C6];
}
.bg-indigo {
  @apply bg-[#EEF4FF];
}
.text-indigo {
  @apply text-[#3538CD];
}
.bg-pink {
  @apply bg-[#FDF2FA];
}
.text-pink {
  @apply text-[#C11574];
}
